@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html {
  background-color: black;
  background-size: cover;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

.navbar img {
  margin-left: 20px;
}

.button-center {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.button-Daftar {
  width: 120px;
  height: 50px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.btn-primary {
  font-family: "Bebas Neue", sans-serif;
}

.nav-link {
  font-size: 32px;
  /* color: rgba(255, 255, 255, 0.5); */
  text-decoration: none;
}
/* 
.button-Daftar {
} */

.button-center a:hover {
  color: rgba(255, 255, 255, 0.73);
  cursor: pointer;
}

.jumbotron {
  background-image: url("https://source.unsplash.com/1600x900/?concert,music");
  background-size: cover;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  padding: 150px;
}

.container-text-center {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.card {
  background-color: #fff;
  border: none;
}

.footer {
  bottom: 0;
  width: 100%;
}

.marquee {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    height: auto;
  }

  .nav-link {
    margin-right: 8px;
  }

  .jumbotron {
    padding: 100px;
  }

  .button-center {
    margin-top: 2px;
  }
  .jumbotron h1 {
    font-size: 25px;
    font-weight: bold;
  }
}
