@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* style.css */
html {
  background-color: black;
  /* background: url(images/bg.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

.navbar img {
  margin-left: 30px;
}

.button-center {
  display: inline;
  justify-content: space-around;
  margin-top: 7px;
}

 .button-Masuk {
  display: inline;
  justify-content: space-around;
   width: 100px;
   height: 40px;
   border: none;
   background-color: transparent;
   cursor: pointer;
   font-size: 16px;
   margin-right: 20px;
 }

 .button-Masuk a {
  font-size: 30px;
   color: rgba(255, 255, 255, .50);
   text-decoration: none;
  font-family: 'Bebas Neue', sans-serif;
 }

 .button-Daftar {
   width: 100px;
   height: 40px;
   border: none;
   background-color: transparent;
   outline: none; 
   cursor: pointer;
   font-size: 16px;
   margin-right: 580px
 }

 .button-Daftar a {
  font-size: 30px;
  color: rgba(255, 255, 255, .50);
   text-decoration: none;
  font-family: 'Bebas Neue', sans-serif;
 }

 .button-center a:hover {
    color: rgba(255, 255, 255, .73);
    cursor: pointer;
 }

.nav-link {
  margin-right: 40px;
  font-size: 30px;
  font-family: 'Bebas Neue', sans-serif;
}

.jumbotron {
  background-image: url("https://source.unsplash.com/1600x900/?concert,music");
  background-size: cover;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  padding: 180px;
  font-family: 'Bebas Neue', sans-serif;
}

.container-text-center {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.container h2 {
  font-family: 'Bebas Neue', sans-serif;
}

.card-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 25px;
}

.card-text {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
}

.lead {
  text-align: center;
  font-size: 30px;
}

.btn-primary {
  font-family: 'Bebas Neue', sans-serif;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-primary:hover {
  background-color: #ff9800;
  border-color: #ff9800;
}

.card {
  background-color: #fff;
  border: none;
}

.footer {
  bottom: 0;
  width: 100%;
}

.marquee {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
}

